.cont:hover .gele {
  transform: scale(1.1);
  transition: all 4s linear;
  cursor: pointer;
}

.cont:hover .gele::before {
  opacity: 0;
  transition: all 4s linear;
}

.clipImg {
  width: 100%;
  height: 625px;
  clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
}

.gele {
  transform: scale(1);
  transition: all 4s linear;
}

.gele::before {
  content: "";
  position: absolute;
  /* z-index: 10; */
  width: 100%;
  height: 625px;
  opacity: 1;
  backdrop-filter: grayscale(1);
  -webkit-backdrop-filter: grayscale(1);
  -moz-backdrop-filter: grayscale(1);
  transition: all 4s linear;
}
