.clipPath {
  clip-path: circle(0% at 50% 0%);
}
.circleTrans {
  position: absolute;
  left: -100px;
  top: 1500px;
  z-index: 2;
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transform-origin: 0;
  /* transform: translateX(150); */
  /* transform: translateY(200); */
}
.btn {
  color: #fff;
  border: 1px solid #fff;
}
.btn:hover {
  color: orange;
  border: 1px solid orange;
  background-color: rgba(255, 166, 0, 0.13);
}
